# Remove unwanted files on github
.idea/
cmake-build-debug/

# Excluding particles files
*.csv

# Excluding documentation
doc/*

# png
*.png

# build
build/
nbody

# Python venv
python/venv/

.vscode/
data/
*.out
